@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Jacquard 12", system-ui;
    font-weight: 500;
    font-style: normal;
}

.slider {
    width: 100px;
    height: 20px;
}

#lengthOutput {
    font-size: 50px;
}

label {
    padding-left: 10px;
    padding-right: 4px;
}
